<br>
<br>
<br>
<div class="container mt-4">
  <div class="row">

    <div class="col-4">
      <!-- Button trigger modal -->
      <img src="../../assets/userImg.png" class="img-thumbnail" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
        alt="user">

      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Perfil</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="requires-validation">
                <input class="form-control" type="text" name="name" required placeholder="Digite seu nome completo"
                  required #nome>
                <input class="form-control" type="text" name="cpf" placeholder="Digite seu CPF" required #cpf>
                <input class="form-control" type="text" name="tg" placeholder="Digite seu RG" required #rg>
                <input class="form-control" type="text" name="endereco" placeholder="Digite seu endereço completo"
                  required #endereco>
                <input class="form-control" type="text" name="profissao" placeholder="Digite sua profissão" required
                  #profissao>
                <input class="form-control" type="text" name="entidadeEmpregadora"
                  placeholder="Digite a entidade empregadora" required #entidadeEmpregadora>
                <input class="form-control" type="password" name="password" placeholder="Digite uma senha válida"
                  required #senha>
                <input class="form-control" type="email" name="email" placeholder="Digite seu email" required #email>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="deletar()" data-bs-dismiss="modal">Apagar conta</button>
              <button type="button" class="btn btn-primary" (click)="editar()">Salvar</button>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-6 offset-2 contrato-info" *ngIf="contratos.length > 0">
      <ul class="list-group">
        <h3>Seus contratos ativos:</h3>
        <li class="list-group-item" *ngFor="let contrato of contratos">
            <div class="itens">
              <h5>Modelo: {{contrato["veiculo"].modelo}}</h5>
              <h5>Marca: {{contrato["veiculo"].marca}}</h5>
              <h5>Placa: {{contrato["veiculo"].placa}}</h5>
              <h5>Proprietário: {{contrato["veiculo"].proprietario}}</h5>
              <h5>Contrato de Crédito: {{contrato.contratoCredito}}</h5>
              <h5>Valor: {{contrato.valor}}</h5>
            </div>
        </li>
    </ul>
      <a type="button" class="btn btn-primary" href="/veiculos">Contratar mais</a>
  </div>

    <div class="col-6 offset-2" *ngIf="contratos.length == 0">
      <h2>Não contratos em andamentos</h2>
      <p>Deseja realizar um contrato? </p>
      <br>
      <a type="button" class="btn btn-primary" href="/veiculos">Contratar</a>
    </div>


  </div>
</div>
