<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <a class="voltar" href="/home"><mat-icon>arrow_back_ios</mat-icon>Voltar</a>
                <div class="form-items">
                    <h3>Crie sua conta</h3>
                    <form class="requires-validation" novalidate>

                        <div class="col-md-12">
                           <input class="form-control" type="text" name="name" required placeholder="Digite seu nome completo" #nome>
                        </div>

                        <div class="col-md-12">
                            <input class="form-control" type="email" name="email" placeholder="Digite seu email" required #email>
                        </div>

                       <div class="col-md-12">
                        <input class="form-control" type="text" name="endereco" placeholder="Digite seu endereço completo" required #endereco>
                       </div>

                       <div class="col-md-12">
                        <input class="form-control" type="date" name="date" placeholder="Digite sua data de nascimento" required #data>
                     </div>

                     
                     <div class="col-md-12">
                        <input class="form-control" type="password" name="password" placeholder="Digite uma senha válida" required #senha>
                     </div>
              
                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary" (click)="cadastrar()">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
