<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-3">
          <mat-icon class="img-fluid icon-display">local_car_wash</mat-icon>
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form>
            <a class="voltar" href="/home"><mat-icon>arrow_back_ios</mat-icon>Voltar</a>
            <div class="form-outline mb-4">
            <label class="form-label" type="email">Email</label>
              <input type="email" class="form-control form-control-lg"
                placeholder="Digite um email válido..." #email/>
            </div>
  
            <div class="form-outline mb-3">
                <label class="form-label" type="password">Senha</label>
              <input type="password" class="form-control form-control-lg"
                placeholder="Digite sua senha" #senha/>
                <p class="error-message" *ngIf="invalido" style="color:red">Email ou senha incorretos</p>
            </div>
          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="button" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="logar()">Entrar</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Não possui uma conta? <a href="/criar"
                class="link-sucess">Criar conta</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>

</section>